body{
    margin: 0;
    padding: 0;
}
.header_block{
    height: 10vh;
    width: 100vw;
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.header_block>div:first-child{
    margin-left: 40px;
    font-size: 20px;
}
.header_block>div:last-child{
    width: 32vw;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header_block>div:last-child div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}
.box_input{
    position: absolute;
    display: flex;
    margin-left: 260px;
}
input{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    position: relative;
    box-sizing: border-box;
}
input[type="text"]{
    background-color: #d0d0d0;
    width: 120px;
    height: 35px;
    padding: 0 15px;
    border-radius: 25px 0 0 25px;
    border: 1.6px solid #000;
}
::placeholder{
    color: #000;
}
input[type="image"]{
    position: relative;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0 25px 25px 0;
    filter: invert(100%);
    padding: 10px;
}
.article_block{
    background-color: #d0d0d0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
}
.semicircle{
    height: 85vh;
    width: 85vw;
    /* background-color: #eab1ca; */
    background: linear-gradient(#ec97ab 0%, #9285a3 15%, #c8b4c2 35%, #d1a4b3 100%);
    border-radius: 85VW 85VW 0 0;
}
.semicircle>div:first-child{
    margin-top: 70px;
    font-size: 90px;
}
.semicircle>div:nth-child(2){
    font-size: 26px;
}
.article_block img{
    height: 50px;
    width: 50px;
    margin: 30px;
    filter: invert(100%);
}
