*{
    margin: 0;
    padding: 0;
}
.homePage{
    font-family: Arial, Helvetica, sans-serif;
}
.header_block{
    background-color: #fff;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.header_block>div:first-child{
    background-color: #000;
    color: #fff;
    height: 5vh;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.header_block>div:last-child{
    width: 40vw;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header_block>div:last-child>div:first-child div:hover{
    cursor: pointer;
    color: #777;
}
.header_block>div:last-child>div:first-child{
    display: flex;
}
.header_block>div:last-child>div:first-child div{
    margin: 0 10px;
}
.header_block>div:last-child>div:last-child{
    display: flex;
}
.header_block img{
    height: 14px;
    width: 14px;
    margin: 0 5px;
}
.article_block{
    height: 95vh;
    width: 100vw;
    background-image: url(/img/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 5vh;
}
.center_box{
    text-align: center;
    margin-bottom: 50px;
}
h1{
    font-size: 85px;
    font-weight: 700;
    color: #fff;
    margin: 30px;
}
.input_box{
    width: 60vw;
}
input{
    height: 30px;
    width: 500px;
    border: 1px solid #000;
    margin: 5px;
}
input[type="text"]{
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 25px;
}
input[type="button"]{
    background-color: #000;
    color: #fff;
}
.button{
    font-size: 12px;
}
.article_block .center_box img{
    background-color: #fff;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin: 80px;
}
.chat_box{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    filter: invert(100%);
}
.chat_box img{
    height: 22px;
    width: 25px;
}
/* 視窗縮小，版面會跑掉 */