.ingtest {
    width: 300px;
    height: 320px;
    border-radius: 20px;
    filter: contrast(0.5);
    filter: hue-rotate(10deg);
    cursor: pointer;
    transition: 0.5s;

}
.ingtest:hover{
    box-shadow: 50px 50px 20px rgb(239, 13, 13);
    scale: 0.8;
    opacity: 0.5;
}


.box1{
    background-color: bisque;
    
}