html body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.ingtest {
    width: 300px;
    height: 320px;
    border-radius: 20px;
    filter: contrast(0.5);
    filter: hue-rotate(10deg);
    cursor: pointer;
    transition: 0.5s;

}
.ingtest:hover{
    box-shadow: 50px 50px 20px rgb(239, 13, 13);
    scale: 0.8;
    opacity: 0.5;
}


.box1{
    background-color: bisque;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    
}
.box1:hover{
    box-shadow: 5px 5px 20px black;
    cursor:not-allowed;
    border-radius: 10px;
    background-color: rgba(144, 116, 80, 0.277);
    transform: translate(50px) scale(1.05) rotate(30deg);
    font-size: 30px;
    color: rgba(248, 229, 202, 0.863);
    opacity: 0.5;
    text-decoration: underline;
    letter-spacing: 5;
    border: 5px solid rgba(194, 129, 65, 0.856);
}
.box2{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */

}
.box2:hover{ 
    opacity: 0;
}

.container{
    height: 500px;
    display: flex;
    background-color: rgb(23, 74, 74);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.div-all span:last-child a:first-child{
    color: yellow;
    font-size: 30px;
}

.div-all span:first-child a:first-child {
    color: yellow;
    font-size: 30px;
}

.menu-item{
    padding-left: 10px;
}
.menu-item:hover{
    background-color: aqua;
    color: blue;
    cursor: pointer;
}